site_name: envlit
repo_url: https://github.com/luocfprime/envlit
site_url: https://luocfprime.github.io/envlit
site_description: A minimal CLI tool to organize, load, and switch between your project's environment contexts.
site_author: Chaofan Luo
edit_uri: edit/main/docs/
project_name: luocfprime/envlit
copyright: Maintained by <a href="https://github.com/luocfprime">luocfprime</a>.

nav:
  - Home: index.md
  - Modules: modules.md
  - AI Agent Skill: skill.md
plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          paths: [
            "envlit"
            ]
  - i18n:
      docs_structure: suffix
      languages:
        - locale: en
          default: true
          name: English
          build: true
        - locale: zh
          name: Chinese
          build: true
  - macros:
      j2_variable_start_string: '[['
      j2_variable_end_string: ']]'

theme:
  name: material
  features:
    - content.tabs.link
    - content.code.annotate
    - content.code.copy
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: white
      accent: deep orange
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: black
      accent: deep orange
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  icon:
    repo: fontawesome/brands/git-alt

extra:
  social:
    - icon: fontawesome/brands/git-alt
      link: https://github.com/luocfprime/envlit
  alternate:
    - name: English
      link: /envlit/
      lang: en
    - name: Chinese
      link: /envlit/zh/
      lang: zh
  url:
    prefix: '.'
    videos: /envlit

markdown_extensions:
  - abbr
  - admonition
  - attr_list
  - def_list
  - footnotes
  - md_in_html
  - tables
  - toc:
      permalink: true
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.betterem:
      smart_enable: underscore
  - pymdownx.caret
  - pymdownx.details
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.superfences
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde
